<div class="container"><input type="text" placeholder="Add new task" [(ngModel)]="task"/>
  <button (click)="addTask()" [disabled]="task === ''" [ngStyle]="{background: 'lightgreen', color: 'green'}" >Add</button>
  <hr/>
<app-task *ngFor="let task of tasks; let i =index"
          [task]="task.task"
          (delete)="onDeleteTask(i)"
          (taskChange)="changeTask(i, $event)">
</app-task>
</div>
